.vscode/launch.json
development/mis/build/temp/development/Admin/sencha-compiler/app/full-page-master-bundle.js
development/mis/build/temp/production/Admin/slicer-temp/bootstrap.json
development/mis/build/temp/production/Admin/slicer-temp/bootstrap.jsonp
development/mis/build/temp/production/Admin/slicer-temp/theme-capture.png
development/production/mis/classic.json
development/production/mis/classic.jsonp
development/production/mis/modern.json
development/production/mis/modern.jsonp
