<form role="form" enctype="multipart/form-data" role="form" [formGroup]="applicationGeneraldetailsfrm" >
  <div class="row  wizard-content wizard-contentfieldset">
    <fieldset  class="row  col-lg-12">
      <legend class="contentfieldset">Declaration Application Details</legend>
          

        
          <!-- <div class="col-lg-4">
            <label class="control-label">Country of Origin/Destination </label>
              <dx-select-box 
                [dataSource]="countries" valueExpr="id"
                displayExpr="name" placeholder="Select Country"
                [searchEnabled]="true" formControlName="entry_country_id">
                </dx-select-box>
          </div> -->

          <div class="col-lg-4" >
              <label>Shipment Mode</label>
              <dx-select-box [dataSource]="modeOfTransportData"  [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name"
                placeholder="Select Mode of Transport" [searchEnabled]="true" formControlName="mode_oftransport_id">
              </dx-select-box>
            </div>
             

        <div class="col-lg-4" >
          <label >Estimated Date of Arrival/Exit</label> 
          <dx-date-box dateSerializationFormat="yyyy-MM-dd'T'HH:mm:ssZ" formControlName="shipment_date" placeholder="Date">
          </dx-date-box>
         </div>

            <div class="col-lg-4" >
              <label>Port of Entry/Exit</label>
              <dx-select-box [dataSource]="portOfEntryExitData"  [readOnly]= "isReadOnly" valueExpr="id" displayExpr="name"
                placeholder="Select Port" [searchEnabled]="true" formControlName="port_id">
              </dx-select-box>
            </div>
         <div class="col-lg-4">
           <label>Importation/Exportation Reason</label>
             <dx-select-box [dataSource]="importationReasonsData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
             placeholder="Reason" 
             formControlName="importation_reason_id">
             <div *dxTemplate="let name of 'item'">
             <div>{{name.name}}</div>
             </div>
             </dx-select-box>
         </div>
         <div class="col-lg-4">
          <label>Product Category</label>
          <dx-select-box [dataSource]="productImportationCategoryData" valueExpr="id" displayExpr="name" [searchEnabled]="true"
          placeholder="Product Category"
          formControlName="product_category_id">   
           <div *dxTemplate="let name of 'item'">
           <div>{{name.name}}</div>
        </div>
        </dx-select-box>
        </div>
            <div class="col-lg-4">
              <label>Commercial Invoice No</label>
              <dx-text-box formControlName="proforma_invoice_no"  [readOnly]= "isReadOnly" placeholder="Invoice No" [showClearButton]="true">
              </dx-text-box>
            </div>
            <div class="col-lg-4">
              <label>Commercial Invoice Date</label>
              <dx-date-box dateSerializationFormat = "yyyy-MM-dd"  [readOnly]= "isReadOnly" formControlName="proforma_invoice_date" placeholder="Invoice Date" [showClearButton]="true">
              </dx-date-box>
            </div>
            <!-- <div class="col-lg-8  ">
              <label>Supplier Details</label>
              <dx-text-box [readOnly]=true formControlName="sender_receiver" placeholder="Consignor Details"
                [showClearButton]="true">
              </dx-text-box>
              <input type="hidden" formControlName="sender_receiver_id" />
            </div> -->
            <input type="hidden" formControlName="sender_receiver_id" />
            <input type="hidden" formControlName="technical_declaration_id" />
            <input type="hidden" formControlName="declaration_application_code" />
    </fieldset>
    <fieldset class="row wizard-contentfieldset col-lg-12">
        <legend class="contentfieldset">Inspection Details</legend>
        <div class="col-lg-4">
          <label>Shipment Date</label>
          <dx-date-box dateSerializationFormat = "yyyy-MM-dd"  formControlName="shipment_date" placeholder="Shipment Date" [showClearButton]="true">
          </dx-date-box>
        </div>
        <div class="col-lg-4">
        <label>Custom Declaration Number</label>
          <dx-text-box formControlName="custom_declaration_no" placeholder="Custom Clearance Number"
            [showClearButton]="true">
          </dx-text-box>
      </div>
      <div class="col-lg-4">
        <label>Clearing Agent Name</label>
          <dx-text-box formControlName="clearing_agent" placeholder="Clearing Agent"
            [showClearButton]="true">
          </dx-text-box>
      </div>

       <div class="col-lg-4">
        <label>Clearing Agent Contact</label>
          <dx-text-box formControlName="clearing_agent_no" placeholder="Clearing Agent"
            [showClearButton]="true">
          </dx-text-box>
      </div>

      <div class="col-lg-4">
        <label>Agent Email Address</label>
          <dx-text-box formControlName="clearing_agent_email" placeholder="Clearing Agent"
            [showClearButton]="true">
          </dx-text-box>
      </div>
        
        <div class="col-lg-4">
        <label>Agent Firm Name</label>
          <dx-text-box formControlName="clearing_agent_firm" placeholder="Clearing Agent"
            [showClearButton]="true">
          </dx-text-box>
      </div>
         
        <div class="col-lg-4">
          <label>Proposed Inspection Date</label>
          <dx-date-box dateSerializationFormat = "yyyy-MM-dd" formControlName="proposed_inspection_date" placeholder="Proposed Inspection Date" [showClearButton]="true">
          </dx-date-box>
        </div>

        <div class="col-lg-4">
        <label>Number of Packages to be Inspected</label>
          <dx-text-box formControlName="package_no" placeholder="Package No."
            [showClearButton]="true">
          </dx-text-box>
      </div>
    </fieldset>
      
    <div class="col-lg-12">
      <input type="hidden" value={{module_id}} formControlName="module_id" />
      
      <input type="hidden" value={{application_code}} formControlName="application_code" />
    </div>
  </div>
  </form>
  <!-- pop ups -->
  
  
  